---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }} / {{ site.tagline }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="intro">
			<div class="container">
				<h2>About me</h2>
				{% assign aboutpage = site.pages | where: "category", "personal" %}
				<!-- this assign function will return an array of pages -->
				<!-- since I only have one page with that category, I can use the index [0] to capture it -->
				<a href="{{ aboutpage[0].url | prepend: site.baseurl }}">
					<p>
						{{ site.description }}
						<span class='a2'> [Read more about me here] </span>
					</p>
				</a>
			</div>
		</section>
		<section class="projects">
			<div class="container">
				<h2>Projects I have worked on</h2>
				<ul class="projects-list">
					{% for item in site.categories.projects %}
						<li>
							<a href="{{ item.url | prepend: site.baseurl }}">
								<div class="img-wrapper">
									<img src="{{ item.project.logo | prepend: site.baseurl }}" alt="{{ item.project.title }}" />
								</div>
								<span class="h4">{{ item.project.logo-cc }}</span>
								<span class="h2">{{ item.project.type }}</span>
								<h3>{{ item.project.title }}</h3>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script>
</body>
</html>
