<footer class="footer">
	<div class="container">
		<section class="contact">
			<h2>Contact</h2>
			<a title="{{ site.email }}" href="mailto:{{ site.email }}">{{ site.email }}</a>
		</section>
		<section class="follow">
			<h2>Follow</h2>
			<ul>
				<li><a title="Google Scholar" href="{{ site.scholar }}" target="_blank">Google Scholar</a></li>
				<li><a title="Linkedin" href="{{ site.linkedin }}" target="_blank">LinkedIn</a></li>
				<li><a title="Twitter" href="{{ site.twitter }}" target="_blank">Twitter</a></li>
				<li><a title="Github" href="{{ site.github }}" target="_blank">GitHub</a></li>
			</ul>
		</section>
	</div>
</footer>
